* {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-family: 'open Sans', sans-serif;
    color: blue;
}
#main-header {
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: url(../img/header.jpg) no-repeat center;
    background-size: cover;
}
.main-header {
    text-transform: uppercase;
    font-size: 65px;
    margin: 0;
}

hr {
    width: 70px;
    border-color: #007bff;
    margin-bottom: 10px;
}
.blue {
    color: #007bff;
}

.button {
    text-decoration: none;
    color: #222;
    border: 1px solid #007bff;
    text-transform: uppercase;
    padding: 10px 15px;
    transition: all 0.4s;
    margin-top: 10px;
}
.button:hover {
    background-color: #007bff;
    color: #fff;
}
p {
    color: black;
}

.main-nav {
    background-color: #007bff;
    padding: 10px 0;
    justify-content: center;
    position: sticky;
    top: 0;
}
.main-nav ul {
    display: flex;
    margin: 0;
    padding: 10px 0;
    justify-content: center;
    list-style: none;
}

.main-nav ul li {
    padding: 10px;
}
.main-nav ul li a {
color: #fff;
text-transform: uppercase;
text-decoration: none;
padding: 10px;
transition: all 0.4s;
}

.main-nav ul li a:hover {
    color: #007bff;
    background-color: #fff;
}
.main-nav label,
.main-nav input {
    display: none;
}

section {
    padding: 100px 0;
    margin: 0 auto;
    text-align: center;
}

h2 {
    text-transform: uppercase;
    color: black;
    text-align: center;
}

.about > div {
    text-align: center;
    color: black;
    width: 64%;
    margin: 0 auto;
    
}
.about img {
    border-radius: 50%;
    height: 400px;
    width: 400px;
}
.container {
    display: flex;
    flex-wrap: wrap;
}
.container-inner {
    flex-basis: 25%;
    height: 200px;
    /* border: 1px solid black; */
    position:relative;
}
.container-inner img {
    width: 100%;
    height: 100%;
    position: relative;
}
.name {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
    /* border: 1px solid blue; */
    color: transparent;
    z-index: 10;
    /* text-transform: uppercase; */
    transition: all 0.4s;
    display: flex;
    justify-content: center;
    align-items: center;

}
.name:hover {
    background-color: rgba(0, 123, 255, 0.6);
    color: #fff;
}

form {
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contact form input:not([type="submit"]) {
    flex-basis: 49%;
    padding: 10px;
    margin-bottom: 10px;

}
.contact form textarea {
    flex-basis: 100%;
    padding: 10px;

}
.contact form input[type="submit"] {
margin: 10px auto;
}

.social-media a {
text-decoration: none;
color: #007bff;
font-size: 30px;
margin: 0 10px;
transition: all 0.4s;
}

.social-media a:hover {
    color: #f2f1ed;
}

footer {
    text-align: center;
    background-color: #f2f1ed;
    padding: 20px 0;
}
